[submodule "third_party/minorGems"]
	path = third_party/minorGems
	url = https://github.com/twohoursonelife/minorGems.git
[submodule "third_party/openLife"]
	path = third_party/openLife
	url = https://github.com/olivier-zami/openlife.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
